.filterIcon{
    background-color: orange;
    padding: 5px;
}

/* Phone */
@media only screen and (max-width: 767px) {

    .dropdown-menu{
        font-size: 3rem;
    }

    .dropdown-item{
        font-size: 2rem;
    }

    body{
        width: 100vw;
    }

    label{
        font-size: 1.5rem;
    }
    
    .appBody{
        margin-top: 25%;        
    }

    input.form-check-input{
        transform : scale(1);
    }

    .filterIcon{
        width:50px;
        margin:40px ;     
        position: absolute;
        right:0;          
        top:50px;           
        text-align:right;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

    
    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .coursesContainer{
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }
    
    .coursePage{
        margin-top: 20%;
        padding-bottom: 100px;
    }

    .description{
        font-size: .8rem;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
    }

    .video{
        width: 100%;
        height: auto; 
    }

    footer {
        /* display: none; */
        position: sticky;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1699px) {

    .dropdown-item{
        font-size: 3rem;
    }

    body{
        width: 100vw;
        font-size: 2rem;
    }
    
    .appBody{
        margin-top: 8%;        
    }

    .search{
        padding-top: 50px;
    }

    input.form-check-input{
        transform : scale(3);
        /* float: left; */
        margin-left: 40px;
    }
    
    label.form-check-label{
        font-size: 45px;
        margin-left: 70px;
    }

    .filterIcon{
        width:100px;
        margin:50px ;     
        position: absolute;
        right:0;          
        top:50px;           
        text-align:right;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .courseTitle{
        padding-top: 60px;
        font-size: 3rem;
    }

    .coursesContainer{
        padding-bottom: 100px;
        width: 100vw;
    }
    
    .coursePage{
        margin-top: 7%;
        padding-bottom: 100px;
    }

    .description{
        font-size: 1.5rem;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
        width: 250px;
        font-size: 35px;
    }

    .video{
        width: 100%;
        height: auto; 
    }

    .coursePage h2{
        font-size: 5rem;
    }

    .card-title{
        font-size: 3rem;
    }

    .course{
        display: inline-block;
        margin: 10px;
        height: 200px;
        overflow-y: hidden;
        font-size: 2rem;
    }

    footer {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1700px) {

    .appBody{
        width: 80%;
        margin: 0 auto;
        color: black;
        padding-top: 100px;
    }

    .courseTitle{
        text-align: center;
    }

    .sideBar{
        display: inline-block;
        height: 60vh;
        margin-top: 5%;
        background: lightGray;
        padding: 10px 40px 10px 40px;
        position: fixed;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .filterIcon{
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
      }

    .coursesContainer{
        height: 100%;
        width: 80%;
        text-align: center;
        float: right;
        background: lightGray;
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }


    .card:hover{
        background-color: orange !important;
    }

    a:hover{
        text-decoration: none !important;
        
    }

    .coursePage{
        height: 70vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 5%;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .book p{
        border: 1px solid black;
        padding: 30px;
    }
    
    .pageTurnerButtons{
        text-align: center;
    }

    .videoContainer{
        width: 100%;
        text-align: center;
    }

    .video{
        width: 70%;
        height: auto; 
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

}