/* Phone */
@media only screen and (max-width: 767px) {
    body{
        width: 100vw;
    }

    label{
        font-size: 1.5rem;
    }
    
    .appBody{
        margin-top: 25%;        
    }

    input.form-check-input{
        transform : scale(1);
    }

    .filterIcon{
        float: right;
    }
    
    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .coursesContainer{
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }
    
    .coursePage{
        margin-top: 25%;
        padding-bottom: 100px;
    }

    #signUpButton{
        margin-bottom: 5%;
        margin-left: 35%;
        width: 100px;
    }

    footer {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1699px) {
    body{
        width: 100vw;
        font-size: 2rem;
    }
    
    .appBody{
        margin-top: 10%;        
    }

    input.form-check-input{
        transform : scale(1);
    }

    .filterIcon{
        float: right;
        margin-top: 20px;

    }

    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .courseTitle{
        padding-top: 60px;

    }

    .coursesContainer{
        padding-bottom: 100px;
        width: 100vw;
    }
    
    .coursePage{
        margin-top: 15%;
        padding-bottom: 100px;
    }

    .coursePage h2{
        font-size: 5rem;
    }

    .course{
        display: inline-block;
        margin: 10px;
        height: 200px;
        overflow-y: hidden;
    }

    #signUpButton{
        margin-bottom: 5%;
        margin-left: 35%;
        font-size: 2rem;
        width: 300px;
    }

    footer {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1700px) {

    .appBody{
        width: 80%;
        margin: 0 auto;
        color: black;
        padding-top: 100px;
    }

    .courseTitle{
        text-align: center;
    }

    .sideBar{
        display: inline-block;
        height: 60vh;
        margin-top: 5%;
        background: lightGray;
        padding: 40px;
        position: fixed;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .filterIcon{
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
      }

    .coursesContainer{
        height: 100%;
        width: 80%;
        text-align: center;
        float: right;
        background: lightGray;
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }


    .card:hover{
        background-color: orange !important;
    }

    a:hover{
        text-decoration: none !important;
        
    }

    .coursePage{
        height: 70vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 5%;
    }

    #signUpButton{
        width: 150px;
        margin: 0 auto;
        margin-top: 2%;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

}