/* Global */
.oswalt-font{
    font-family: 'Oswalt' ;
}

.filterIcon{
    background-color: orange;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.viewAlternateButton{
    background-color: orange;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.book p{
    background-color: lightgray;
    padding: 30px;
}

/* Phone Straight */
@media only screen and (max-width: 413px) {
    
    .dropdown-menu{
        font-size: 3rem;
    }

    .dropdown-item{
        font-size: 2rem;
    }

    body{
        width: 100vw;
    }

    label{
        font-size: 1.5rem;
    }
    
    .appBody{
        margin-top: 40%;        
    }

    input.form-check-input{
        transform : scale(1);
    }

    .buttonDiv{
        width:100vw;
        margin:50px ;     
        position: absolute;
        right:0;          
        top:70px;           
        text-align:right;
    }  
    
    .filterIcon{
        width:50px;
        margin-left: 10px;
    }

    
    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .coursesContainer{
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }
    
    .coursePage{
        margin-top: 35%;
        padding-bottom: 100px;
    }

    .list-group-item h2{
        text-align: center;
        margin-right: 50px;
        display: inline-block;
        font-size: 2rem;
        width: 100%;
    }

    .list-group-item p{
        display: none;
    }

    .description{
        font-size: .8rem;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
    }

    .video{
        width: 100%;
        height: auto; 
    }

    .instContainer{
        display: none;
    }

    footer {
        display: none;
        /* position: sticky; */
    }
}

/* Phone Sideways*/
@media only screen and (min-width: 414px) and (max-width: 767px) {

    .dropdown-menu{
        font-size: 3rem;
    }

    .dropdown-item{
        font-size: 2rem;
    }

    body{
        width: 100vw;
    }

    label{
        font-size: 1.5rem;
    }
    
    .appBody{
        margin-top: 20%;        
    }

    input.form-check-input{
        transform : scale(1);
    }

    .buttonDiv{
        width:100vw;
        margin:50px ;     
        position: absolute;
        right:0;          
        top:50px;           
        text-align:right;
    }  
    
    .filterIcon{
        width:50px;
        margin-left: 10px;
    }

    
    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .coursesContainer{
        padding-bottom: 100px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }
    
    .coursePage{
        margin-top: 15%;
        padding-bottom: 50px;
    }

    .list-group-item h2{
        text-align: center;
        margin-right: 50px;
        display: inline-block;
        font-size: 2rem;
        width: 100%;
    }

    .list-group-item p{
        display: none;
    }

    .description{
        font-size: .8rem;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
    }

    .video{
        width: 100%;
        height: auto; 
    }

    .instContainer{
        display: none;
    }

    footer {
        display: none;
        /* position: sticky; */
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1699px) {

    .dropdown-item{
        font-size: 3rem;
    }

    body{
        width: 100vw;
        font-size: 2rem;
    }
    
    .appBody{
        margin-top: 8%;        
    }

    .search{
        padding-top: 50px;
    }

    input.form-check-input{
        transform : scale(3);
        margin-left: 40px;
    }
    
    label.form-check-label{
        font-size: 45px;
        margin-left: 70px;
    }

    .buttonDiv{
        width:100vw;
        margin:50px ;     
        position: absolute;
        right:0;          
        top:50px;           
        text-align:right;
    }  

    .viewAlternateButton{
        background-color: orange;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

    .filterIcon{
        width:100px;
        margin-left: 20px;
        /* margin:50px ;      */
        
    }

    .sideBar{
        display: none;
    }

    .showSideBar{
        
    }

    .courseTitle{
        padding-top: 60px;
        font-size: 3rem;
    }

    .coursesContainer{
        padding-bottom: 100px;
        width: 100vw;
    }
    
    .coursePage{
        margin-top: 9%;
        padding-bottom: 100px;
    }

    .description{
        font-size: 1.5rem;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
        width: 250px;
        font-size: 35px;
    }

    .video{
        width: 100%;
        height: auto; 
    }

    .coursePage h2{
        font-size: 5rem;
    }

    .card-title{
        font-size: 3rem;
    }

    .course{
        display: inline-block;
        margin: 10px;
        height: 200px;
        overflow-y: hidden;
        font-size: 2rem;
    }
    
    .list-group-item h2{
        text-align: center;
        margin-right: 50px;
        display: inline-block;
        font-size: 4rem;
        width: 100%;
    }

    .instContainer{
        display: none;
    }

    .list-group-item p{
        display: none;
    }

    footer {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1700px) {

    #navbarSupportedContent{
        width: 85%;
    }
    
    #navbarSupportedContent ul{
        float: right;
    }

    .appBody{
        width: 80%;
        margin: 0 auto;
        color: black;
        padding-top: 100px;
    }

    .courseTitle{
        text-align: center;
    }

    .sideBar{
        display: inline-block;
        height: 60vh;
        margin-top: 5%;
        background: lightGray;
        padding: 10px 40px 10px 40px;
        position: fixed;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .filterIcon{
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .buttonDiv{
        width:100vw;
        margin:50px ;     
        position: absolute;
        right:150px;          
        top:50px;           
        text-align:right;
    }  

    .viewAlternateButton:hover{
        background-color: lightgray;
        border: 1px solid orange;
    }

    .coursesContainer{
        height: 100%;
        width: 80%;
        text-align: center;
        float: right;
        background: lightGray;
        margin-bottom: 80px;
    }

    .course{
        display: inline-block;
        margin: 10px;
    }

    .list-group-item h2{
        text-align: left;
        margin-right: 50px;
        display: inline-block;
    }

    .list-group-item p{
        width: 70%;
        text-align: right;
        display: inline-block;
    }

    .card:hover{
        background-color: orange !important;
    }

    .list-group-item:hover{
        background-color: orange !important;
    }

    a:hover{
        text-decoration: none !important;
    }

    .coursePage{
        height: 70vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 5%;
    }

    .book{
        width: 80%;
        margin: 0 auto;
    }

    .book p{
        border: 1px solid black;
    }
    
    .pageTurnerButtons{
        text-align: center;
    }

    .btn{
        margin: 10px;
    }

    .videoContainer{
        width: 100%;
        text-align: center;
    }

    .video{
        width: 70%;
        height: auto; 
    }

    .instContainer{
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .profile {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        display: inline-block;
        height: 350px;
        width: 300px;
        margin: 20px;
    }

    .profile img{
        width: auto;
        height: 50%;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #000000;
    }
        
    .title {
        color: grey;
        font-size: 18px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

}